<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.1" targetFramework="wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wpa81" />
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="wpa81" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="wpa81" />
  <package id="Xam.Plugin.FilePicker" version="1.1.0" targetFramework="wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.1" targetFramework="wpa81" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="wpa81" />
</packages>